hatchling==1.27.0
iniconfig==2.1.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pluggy==1.5.0
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
sphinx==8.2.3
trove-classifiers==2025.3.19.19
tzdata==2025.2
argparse==1.4.0